<div class="container">
    <div class="row">
        <h1 class="jumbotron">Register</h1>
    </div>
    <div class="row">
        <form>
            <span class="font-weight-bold">First name:</span><input type="text" id="fname" name="fname"/><br/>
            <span class="font-weight-bold">Last name:</span><input type="text" id="lname" name="lname"/><br/>
            <span class="font-weight-bold">Username:</span><input type="text" id="username" name="username"/><br/>
            <span class="font-weight-bold">Password:</span><input type="password" id="password" name="password"/><br/>
            <span class="font-weight-bold">Password confirm:</span><input type="password" id="passwordCon" name="passwordCon"/><br/>
            <input type="submit" value="Register"/>
        </form>
    </div>
</div>
