<div class="container">
    <div class="row">
        <h4 class="jumbotron col-12">Account</h4>
    </div>
    <div class="row">
        <!--One row and card for the account information
        and one row and maybe multiple cards for meal favorites-->
        <div class="card col-6 border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">{{fname}}'s Account Information</h4>
                <p class="card-text">
                </p>
                <ul>
                    <li><span class="font-weight-bold">First Name: </span><span class="font-italic">{{fname}}</span>
                    </li>
                    <li><span class="font-weight-bold">Last Name: </span><span class="font-italic">{{lname}}</span>
                    </li>
                    <li><span class="font-weight-bold">User ID: </span><span class="font-italic">{{u_id}}</span>
                    </li>
                    <li><span class="font-weight-bold">Username: </span><span class="font-italic">{{username}}</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-6 border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Stored Meal Favorites</h4>
                
                <p class="card-text">

                </p>
                <div *ngFor='let favorite of favorites'>
                    <ul>
                        <li><span class="font-weight-bold">{{favorite}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-6 border-dark mb-3">
            <div class="card-body">
                <h4 class="card-title">Ingredient Preferences</h4>
                <p class="card-text">

                </p>
                <div *ngFor='let ingredient of ingredients'>
                    <ul>
                        <li><span class="font-weight-bold">{{ingredient}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>