<div class="container" style="border: 2px solid blue; border-radius: 5px; height: 125px;">
    <div class="row" style="border: 2px dotted blue; border-radius: 5px; height: 125px;">
        <div class="col-lg-12" style="border: 2px dashed blue; border-radius: 5px; height: 125px;">
                <app-ingredient-list [recipeId]=[recipeId]></app-ingredient-list>
                <!-- <app-ingredient-list [recipeId]="1"></app-ingredient-list> -->
                <!-- <app-ingredient-list></app-ingredient-list> -->
        </div>
        
    </div>
</div>