<div class="container h-100" style="border: 2px solid green; border-radius: 5px">
    <div class="row h-100" id='ingRow' style="border: 2px dotted green; border-radius: 5px">
        <!--
        <div class="col-md-3 h-100" style="border: 2px dashed green; border-radius: 5px">
            <ul>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Lettuce</li>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Cheese</li>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Fried Onion</li>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Ketchup</li>
            </ul>
        </div>
        <div class="col-md-3 h-100" style="border: 2px dashed green; border-radius: 5px">
            <ul>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Lettuce</li>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Cheese</li>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Fried Onion</li>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Ketchup</li>
            </ul>
        </div>
        <div class="col-md-3 h-100" style="border: 2px dashed green; border-radius: 5px">
            <ul>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Lettuce</li>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Cheese</li>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Fried Onion</li>
                <li class="h-25" sytle="border: 2px solid red; border-radius: 5px">Ketchup</li>
            </ul>
        </div>
        <div class="col-md-3 h-100" style="border: 2px dashed green; border-radius: 5px">
            <ul>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Lettuce</li>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Cheese</li>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Fried Onion</li>
                <li class="h-25" sytle="border: 2px solid orange; border-radius: 5px">Ketchup</li>
            </ul>
        </div>
        -->
    </div>
</div>

                    